@import "tailwindcss";

@theme inline {
  --color-background: var(--color-brand-bone);
  --color-foreground: var(--color-brand-navy);
  
  --color-brand-navy: #1E2B5A;
  --color-brand-yellow: #E2BB22;
  --color-brand-bone: #FFFFFF;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-outfit);

  --text-xs: 0.9rem;
  --text-sm: 1.05rem;
  --text-base: 1.2rem;
  --text-lg: 1.35rem;
  --text-xl: 1.5rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
